{% extends 'main/base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            About economy
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur ducimus omnis repellendus tempora. Amet, blanditiis culpa dolores eaque, esse incidunt ipsam laboriosam numquam perspiciatis provident, rerum similique vero voluptates!
        </p>
        <button class="btn btn-warning">Home</button>
    </div>

{% endblock %}